# ==========================================
# KONEKSI DATABASE (MySQL / PlanetScale)
# ==========================================

# Format URL Koneksi:
# mysql://[USER]:[PASSWORD]@[HOST]:[PORT]/[NAMA_DATABASE]

DATABASE_URL="mysql://username:password@localhost:3306/sre_upnvjt"


# ==========================================
# AUTENTIKASI (NextAuth.js)
# ==========================================

# URL Base website Anda (ubah sesuai domain saat production, misal: https://sreupnjatim.com)
NEXTAUTH_URL="http://localhost:3000"

# Secret Key untuk mengenkripsi token sesi login
# Anda bisa men-generate yang baru dengan command di terminal: openssl rand -base64 32
NEXTAUTH_SECRET="masukkan_secret_string_random_disini"